.add-recipient-container {
    background-color: rgba(127, 255, 212, 0.158);
    border: 1px solid white;
    border-radius: var(--border-radius-default);
    width: 67%;
    max-width: 90vw;
    height: auto;
    margin-inline: var(--primary-margin);
    margin-block:  var(--secondary-margin);
}

.add-recipient-body {
    margin: 5px;
}

.add-recipient-title {
    margin-block: var(--secondary-margin);

    & p {
        margin-top: 5px;
    }
}
  
.add-recipient-button {
    width: 2.5rem;
    margin-bottom: var(--secondary-margin);

    &:disabled {
        cursor: default;
    }
}

.add-recipient-form {
    display: grid;
    justify-items: center; 
}

